/* 全局样式 */
html,body,#app{
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Params、GoodsCate组件用到 ，控制级联选择器的高度，如果没有会占满全屏 */
.el-cascader-panel {
  max-height: 200px;
}

/* 为以后要用到margin-top封装样式 */
.globalTop{
  margin-top: 15px;
}

/* 隐藏滚动条 */
.el-main{
  overflow: visible;
}

.el-card__body{
  padding: 10px 20px 20px 20px;
}

.ql-container.ql-snow{
  min-height: 300px;
}
